.page{
  
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),var(--photo-url), lightgray 50% / cover no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  text-align: center;

}

.page  h1, p {
  color: var(--white);
}


.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  text-align: center;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;

}

.cta-form {  
  max-width: 511px;
  width: 100%;
 /* height: 56px;*/
}

.cta-bio {
  max-width: 379px;
  width: 100%;
}