.layout {
  padding: 100px 150px 50px 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.cta-image {

  width: 503px;
  border-radius: 503px;
  
  height: 503px;
  
  background-image: var(--photo-url);
  background-position: center;
  justify-content: center;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  text-align: center;

  width: 757px;
  
  
}

.cta-form {
  max-width: 511px;
  width: 100%;
}

.cta-bio {
  max-width: 423px;
  width: 100%;
}

@media(max-width: 550px) {
  .layout {
    flex-direction: column;
    gap: 50px;
  }
  .cta-image {
    padding-top: 32px;
    width: 100%;
    height: 200px;
  }
  .content {
    width: 379px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    text-align: center;
  }

  .cta-bio {
    max-width: 350px;
    
    text-align: center;
  }  
}